<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>LoginAuthentication</servlet-name>
        <servlet-class>com.shms.authentication.LoginAuthentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAuthentication</servlet-name>
        <servlet-class>com.shms.authentication.LogoutAuthentication</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAuthentication</servlet-name>
        <url-pattern>/LoginAuthentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAuthentication</servlet-name>
        <url-pattern>/LogoutAuthentication</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
